---
import Particles from 'astro-particles';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Lichtspielzeit - Ankommen. Verbinden." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
</head>
<body>
    <main class="relative bg-gray-900 text-gray-300 min-h-screen">
        <Particles
            id="tsparticles"
            options={{
                "fullScreen": {
                    "enable": true,
                    "zIndex": 0
                },
                "particles": {
                    "number": { "value": 50 },
                    "color": { "value": "#ff0000" },
                    "opacity": { "value": 1, "random": false },
                    "size": { "value": 20, "random": false },
                    "move": {
                        "enable": true,
                        "speed": 0.5,
                        "direction": "none",
                        "outModes": "out"
                    }
                }
            }}
        />
        <div class="relative z-10">
            <slot />
        </div>
    </main>
</body>
</html>
